.hobbies {
  width: 100%;
  height: auto;
  box-sizing: border-box;

  & .hobby {
    width: 100%;
    height: auto;
    box-sizing: border-box;

    & .link {
      border: none;
      outline: none;
      text-decoration: none;
    }

    & .title {
      font-size: 1.2rem;
      margin-bottom: 16px;
    }

    & .active {
      & .title {
        transition: color 0.3s;
        font-weight: 400;
        color: #ff847c;

        &:hover {
          color: #1778f2;
        }
      }
    }

    & .descriptions {
      margin-bottom: 16px;
      & .description {
      }
    }
  }
}
