.default {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  padding: 36px;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);

  & > .header {
    display: flex;

    & > .title {
      margin: 0;
      font-size: 3rem;
      margin-right: 4px;
    }

    & > .point {
      font-size: 3rem;
      color: #1778f2;
      margin: 0;
    }
  }

  & > .blank {
    margin-bottom: 36px;
  }

  & > .contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
